.title{
    color: blue;
    text-align: center;
}
.row{
    margin: 10%;
}
.col{
    color: red;
    margin: 2%;
    background-color: rgb(250, 250, 250, 0.9);
    text-align: center;
    min-height: 10em;
    padding: 6% 0%;
    box-sizing: border-box;
}
.container{
    background-image: url(forest.jpg);
    background-size: cover;
}
/* .container{
    background-color: rgba(124, 255, 163, 0.5);
} */
.nav{
    background-color: white;
    justify-content: space-around;
    min-height: 3em;
}
.nav-item:hover{
    background-color:brown;
}